	<footer id="footer" role="contentinfo">
		<a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
		<div class="container">
			<div class="">
				<div class="col-md-12 text-center">
					<p>{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<img src="https://www.eselx.ipl.pt/sites/default/files/logo%402x.png" alt="ESELx" width="15%">
					<img src="https://www.ipl.pt/sites/default/files/NoPath%20-%20Copy%20%282%29%402x_0.png" alt="ESELx" width="20%" style="margin-left: 40px;">

					
					<!-- <ul class="social social-circle">
					{{ range .Site.Params.footer.links }}
						<li><a href="{{ with index . 1}}{{ . }}{{ end }}"><i class="{{ with index . 0}}{{ . }}{{ end }}"></i></a></li>
					{{ end }}
					</ul> -->
				</div>
			</div>
		</div>
	</footer>
