<section id="fh5co-services" data-section="services" data-stellar-background-ratio="0.5">
	<div class="gradient"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-left">
				<h2 class="left-border to-animate">{{ with .Site.Params.services.title }}{{ . | markdownify }}{{ end }}</h2>
				<div class="row">
					<div class="col-md-12 subtext to-animate">
						<h3>{{ with .Site.Params.services.description }}{{ . | markdownify }}{{ end }}</h3>
					</div>
				</div>
				<!-- Add plain text field with a title -->
				<div class="row">
					<div class="col-md-12 fh5co-service to-animate">
						<h3>{{ with .Site.Params.services.subtitle }}{{ . | markdownify }}{{ end }}</h3>
						<p>{{ with .Site.Params.services.description2 }}{{ . | markdownify }}{{ end }}</p>
						<table class="table">
							<thead>
							  <tr>
								<th scope="col">Course</th>
								<th scope="col">Professors</th>
								<th scope="col">Semester</th>
								<th scope="col">ECTS</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<th scope="row">Nuclear Option: Product Design, Interaction Design, Development and Learning in Education </th>
								<td>André Rocha, Tiago Almeida, Miguel Soeiro, Luís Frias</td>
								<td>Optional, choose 2 of 3* - 1S</td>
								<td>15 - 2 courses, 7,5 each</td>
							  </tr>
							  <tr>
								<th scope="row">Design Management</th>
								<td>Nuno Monge, Bernardo Gaeiras</td>
								<td>1S</td>
								<td>5</td>
							  </tr>
							  <tr>
								<th scope="row">Physical and Digital Educational Environments</th>
								<td>Adriana Cardoso, Pedro Mosca, Luís Frias</td>
								<td>1S</td>
								<td>5</td>
							  </tr>
							  <tr>
								<th scope="row">Digital Languages Lab</th>
								<td>André Rocha, André Sier</td>
								<td>1S</td>
								<td>5</td>
							  </tr>
							  <tr>
								<th scope="row">Toys, Games, and Educational Resources</th>
								<td>Tiago Almeida, Miguel Mata Pereira</td>
								<td>2S</td>
								<td>5</td>
							  </tr>
							  <tr>
								<th scope="row">Projects Seminar</th>
								<td>Tiago Almeida, Miguel Mata Pereira, alumni and other invitees</td>
								<td>2S</td>
								<td>5</td>
							  </tr>
							  <tr>
								<th scope="row">Design of Interactive Products for Education</th>
								<td>André Rocha, Miguel Soeiro, Luís Frias, André Sier, Madalena Matoso</td>
								<td>2S</td>
								<td>20</td>
							  </tr>
							</tbody>
						  </table>
					</div>
					<nbsp></nbsp>
						<nbsp></nbsp>
					<div class="col-md-6 fh5co-service to-animate">
						<hr>
						<h3>{{ with .Site.Params.services.subtitle3 }}{{ . | markdownify }}{{ end }}</h3>
						<p>The postgraduate course in Design of Interactive Products for Education aims to prepare design and education professionals for seamless integration and coordination within multidisciplinary teams. Our program focuses on tasks related to the design, selection, and implementation of interactive products for education, covering a wide range of areas such as toys, open educational resources, interactive graphics, and prototyping in a Fablab environment. With a strong emphasis on technology, design, and open educational resources (OER), students will develop essential transversal skills, including: </p>
							<ul>
								<li>Mobilizing, integrating, and developing knowledge and skills in the design, analysis, and evaluation of interactive products for education.</li>
								<li>Defining strategies for effectively utilizing interactive technologies in educational contexts;</li>
								<li>Selecting and applying design methodologies for interactive products in education;</li>
								<li>Enhancing communication skills and project management capabilities.</li>
							</ul>	
					</div>
					<div class="col-md-6 fh5co-service to-animate">
						
						<hr>
						<h3>Organization and Curricular Structure</h3>
						<p>The course has two main components:</br>
							a) a curricular training component (40 ECTS);</br>
							b) a project component supported by autonomous work, tutorial sessions, seminars and a teaching component oriented towards developing a project (20 ECTS). </p>
							<h3>Recipients</h3>
							<p>. Graduates, masters or doctors of courses related to education sciences;</br>
							. Graduates, masters or doctors in courses related to design;</br>
							. Graduates, masters or doctors in the abovementioned areas.</p>
						<button class="btn btn-primary btn-lg" onclick="window.location.href='https://www.eselx.ipl.pt/curso/graduate-degree/design-interactive-products-education/admission'">Apply Now</button>
						<p></p>	
						<p>!! SCHOLARSHIPS AVAILABLE !!</p>		
					</div>
					
					
				</div>
				<div class="logosPRR">
					<nbsp></nbsp>
					<p>	</p>
					<p>	</p>
					<img src="https://www.eselx.ipl.pt/sites/default/files/inline-images/barra_prr-01.png" alt="IPL" style="display: block; margin-left:auto; margin-right:auto; opacity: .7; width: 60vw;">

				</div>
				<!-- End of plain text field -->
			</div>
			
			
		</div>
		<!-- <div class="row">
		{{ range .Site.Params.services.item }}
			<div class="col-md-6 col-sm-6 fh5co-service to-animate">-->
				<!-- <i class="icon to-animate-2 {{ .icon | markdownify }}"></i> -->
				<!-- <h3>{{ .title | markdownify }}</h3>
				<p>{{ .description | markdownify }}</p>
			</div>
			<div class="clearfix visible-sm-block"></div>
		{{ end }}
		</div> -->
	</div>
</section>
